$inpuTBorder2: #3fb61e;
$colorInputTile2: #28333d;
$colorFormTitle2: #28333d;
$bgCheckPolitica2: #3fb61e;
$colorPolitica2: #2b2b2b;
$colorPoliticaA2: #28333d;
$bgContacts2: #f3f3f3;
$colorError2: red;
$colorSuccess2: green;

$bgErrorInput2: rgba(255, 0, 0, 0.12);
.module-contacts-2 {
	background-color: $bgContacts2;
	padding-bottom: 35px;

	.module_title {
		text-align: center;
		font-family: $ProximaBold;
		color: #181818;
		font-size: 30px;
		line-height: 32px;
		margin-top: 60px;

		.caption {
			color: #3fb61e;
		}		
	}	

	.contacts-content {
		margin-top: 60px;
	}

	.right-line {
		display: inline-block;
		height: 365px;
		width: 2px; 
		background-color: #3fb61e;
		margin-left: 145px;
	}
	form {
		max-width: 465px;
		width: 100%;
		margin: auto;
		float: left;
	}

	.form-title {
		margin-bottom: 30px;
		font-family: $OpenSansBold;
		font-size: 18px;
		line-height: 20px;
	}

	.inputs {
		text-align: justify
	}

	.inputs:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	.input {
		display: inline-block;
		vertical-align: top;
		width: 100%;

		input[type="text"] {
			min-height: 40px;
			padding-left: 10px;
		}

		textarea {
			resize: none;
			min-height: 75px;
			padding: 10px;
		}

		input[type="text"], textarea {
			outline: 0;
			margin-top: 10px;		
			display: inline-block;
			width: 100%;	
			border: 2px solid $inpuTBorder2;	
			font-family: $ProximaSemibold;	
			font-size: 18px;
			@include radius(12px);			
		}

		input[type="text"].error, textarea.error {
			background-color: $bgErrorInput2;
			transition: 0.4s;
		}
	}

	.input-2 {
		max-width: 220px;
		height: 98px;
	}

	.input-title {
		padding-left: 15px;
		font-family: $OpenSans;
		color: $colorInputTile2;
		font-size: 18px;
	}

	//> MESSAGE SEND
	.msg {

	}

	.msg.success {
		color: $colorSuccess2;
	}

	.msg.error {
		color: $colorError2;
	}
	//< MESSAGE SEND

	.politica {
		cursor: pointer;
		margin-top: 10px;
		.check {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 16px;
			height: 16px;
			border: 2px solid $bgCheckPolitica2;
			svg {
				position: absolute;
				left: 0;
				right: 0;
				top: 1px;
				max-width: 10px;
				max-height: 10px;
				margin: auto;
				transition: 0.4s;

				.svg-check {
					fill: $bgCheckPolitica2;
				}
			}
		}

		.check[check="true"] svg {
			transform: rotate(0deg) scale(1);
			opacity: 1;
		}

		.check[check=""] svg,
		.check[check="false"] svg {
			transform: rotate(50deg) scale(1.8);
			opacity: 0;			
		}

		.check.warning {
			transition: 0.4s;
			border-color: red;
		}
		
		.caption {
			display: inline-block;
			vertical-align: top;
			margin-left: 15px;
			font-family: $OpenSansItalic;
			font-size: 11px;
			color: $colorPolitica2;
			font-weight: bold;

			a {
				color: $colorPoliticaA2;
				text-decoration: underline;
			}
		}
	}

	[class*="btn_"] {
		margin-top: 30px;
	}

	//> CONTACTS
	.contacts {
		float: right;
		max-width: 198px;
	}

	.contact:not(:last-child) {
		border-bottom: 1px solid #818181;
	}

	.contact:not(:first-child) {
		.contact-title {
			margin-top: 15px;	
		}
		
	}

	.contact-title {
		font-family: $Proxima;
		color: #181818;
		font-size: 18px;
	}


	.contact-desc {
		font-family: $ProximaSemibold;
		color: #181818;
		font-size: 18px;	
		margin-top: 10px;
		margin-bottom: 10px;	
		line-height: 18px;
		.list-item {
			margin-top: 5px;
		}
	}

	.social {

	}

	.soc {
		display: inline-block;
		margin-top: 15px;
		a {
			display: flex;
			background-color: #28333d;
			width: 30px;
			height: 30px;
			padding-top: 2px;
			@include radius;
		}

		i {
			color: #FFF;
			margin: auto;
		}
	}
	.soc:hover {
		a {
			transition: 0.4s;
			background-color: transparent;
			border: 1px solid #28333d;
			text-decoration: none;
		}

		i {
			color: #28333d;
		}
	}
	//< CONTACTS
}

@media screen and (max-width: 960px) and (min-width: 320px) {
	.module-contacts-2 {
		.input-2 {
			max-width: 100%;
		}

		form {
			float: none !important;
		}

		.contacts {
			float: none !important;
			width: 100%;
			max-width: 85%;
			text-align: center;
			margin: auto;
			margin-top: 40px;
		}

		.module_title {
			margin-top: 40px;
			font-size: 24px;
			line-height: 24px;
		}	

		.right-line {
			display: none;
		}	
	}
}

@media screen and (max-width: 524px) and (min-width: 320px) {
	.module-contacts-2 {
		.form-title {
			font-size: 16px;
			font-family: $OpenSans;
			line-height: 18px;
		}		

		.input-2 {
			max-width: 100%;
		}

		.politica {
			.caption {
				margin-left: 5px;
				width: 85%;
			}
		}

		.input {
			input[type="text"], textarea {
				font-size: 18px;
			}
		}	

		.form-send {
			text-align: center;
		}	
	}
}



