<div class="content-desc">
	<div class="content-title">Сергей Михайлович Сидоров</div>
	<div class="content-caption">Массажист</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				Получил образование массажиста в 2006 году. Проходил курсы по остеопатии.

				Владеет следующими техниками массажа: общий классический массаж; сегментарный массаж; антицеллюлитный массаж; моделирующий массаж; релаксирующий массаж; расслабляющий массаж; все виды спортивного массажа.

				В работе использует легкие мануальные техники. Имеет опыт в проведении массажа моделирования фигуры:

				-Антицеллюлитный;

				-Лимфодренажный;

				-Моделирующий.

				Сергей Михайлович всегда очень деликатен и внимателен к каждому пациенту.

				Чуткость, деликатность, мастерство…
			</div>	
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>