<div class="content-desc">
	<div class="content-title">Шакина Лариса Ивановна</div>
	<div class="content-caption">Массажист</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				Получила высшее образование в Тюменской государственной медицинской академии Федерального агентства по здравоохранению и среднее специальное в Тюменском базовом медицинском училище.<br /><br />

				Опыт работы более 20-ти лет.<br /><br />

				Лариса Ивановна постоянно совершенствует свое мастерство, проходит курсы повышения квалификации:<br /><br />

				· массаж грудных детей (г.Новосибирск)<br />

				· лечебный классический (г.Тюмень)<br />

				· Релаксирующий (г.Новосибирск)<br />

				· Косметический (г.Тюмень)<br />

				· Антицеллюлитный (г.Тюмень)<br />

				· Медовый (г.Тюмень)<br />

				· скандинавский New Dan массаж лица и тела (г.Челябинск)<br />

				· французский New Dan массаж лица и тела (г.Челябинск)<br />

				· Kinesiss Кинезотерапия (г.Москва)<br />

				· Обертывание, пилинг, скраб, маска-грязь, водоросли, нейро-седативный массаж тела (г. Тюмень)<br />

				Лариса Ивановна настоящий профессионал своего дела, ей можно доверить любую процедуру, внимательна к пациентам, очень ответственна.<br />

				На тренинге в Тюменском медицинском колледже получила наивысшую оценку.<br />

				Профессионал с большой буквы…		
			</div>
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>