<div class="content-desc">
	<div class="content-title">Михаил Сергеевич Грибанов</div>
	<div class="content-caption">Массажист</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				Окончил Читинское медицинское училище, имеет опыт работы более трех лет.

				Владеет техникой полного спектра медицинского массажа. Успешно проводит антицеллюлитный, моделирующий массаж, а также программу восстановления после родов. В совершенстве владеет техникой спортивного массажа. Имеет опыт работы в кинезотерапии, с пациентами, имеющими нарушения функции опорно-двигательного аппарата. Консультирует пациентов как инструктор ЛФК, т.к. имеет действующий сертификат. Это позволяет проводить лечение с большим эффектом. Успешно работает с детьми.

				Энергия и сила молодых рук…	
			</div>
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>