<div class="content-desc">
	<div class="content-title">Головачева Виктория Александровна</div>
	<div class="content-caption">Массажист</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				В 2003 году окончила Салаватское медицинское училище Республики Башкортостан.

				За 14 лет профессиональной деятельности в лечебных учреждениях заслужила высшую квалификационную категорию по специальности «Сестринское дело».

				Прошла профессиональную подготовку на базе Тюменского медицинского колледжа по специальности «Медицинский массаж».

				За многолетний добросовестный труд в системе здравоохранения награждена почетной грамотой.

				Викторию Александровну отличает высокая работоспособность, коммуникабельность, ответственность, внимательность к пациентам, профессионализм в работе.

				Владеет всеми методиками лечебного массажа. С большой любовью относится к детям.

				Ей доверяют самое дорогое…			
			</div>
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>