<div class="content-desc">
	<div class="content-title">Александр Иванович Лопарев</div>
	<div class="content-caption">Массажист</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				В 2000 году окончил Тюменский медицинский колледж, лечебное дело. Регулярно повышает квалификацию. Имеет опыт работы почти 20 лет.

				Настоящий профессионал, специализирующийся на следующих видах массажа: медицинский массаж; детский массаж; классический массаж; массаж шейно-воротниковой зоны; поясничного отдела, массаж при сколиозе; массаж релаксирующий и расслабляющий.

				Чуток и внимателен к пациентам, с особым вниманием работает с детьми. Использует технику массажа с элементами остеопатии, ударно-волновой массаж, массаж с элементами мануальной терапии.

				Он буквально ставит на ноги…

				Опыт, индивидуальный подход, собственные программы…
			</div>
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>