<div class="content-desc">
	<div class="content-title">Светлана Михайловна Баталова</div>
	<div class="content-caption">Массажист</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				В 1989 г.- окончила Петропавловское медицинское училище. Регулярно повышает квалификацию: в 2015 г. – повышение квалификации по программе “Классический и баночный массаж”; в 2017 г. – повышение квалификации по программе “Моделирующий массаж лица”.

				Мастер-универсал, с успехом проводит следующие виды массажа: медицинский, сегментарный, классический, релаксирующий и многие другие …Массаж в исполнении данного специалиста расслабляет и стимулирует мышцы тела, снимает напряжение в спине, снимает болевые приступы остеохондроза, усталости, помогает от бессонницы, переутомления, раздражительности и невроза, улучшает психоэмоциональное состояние.

				Любая женщина хочет быть неотразимой. Поэтому особой популярностью среди женщин пользуются следующие виды массажа, которыми в совершенстве владеет Светлана Михайловна: массаж лица и зоны декольте; массаж лица косметологический, криомассаж лица; массаж антицеллюлитный; массаж моделирующий; массаж лимфодренажный. А для молодых мам будет очень актуален восстановительный массаж после родов.

				Совершенство, опыт, результат…	
			</div>	
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>