<div class="content-desc">
	<div class="content-title">Александр Анатольевич Шелудков</div>
	<div class="content-caption">Массажист</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				Окончил медицинское училище г.Кисловодска в 1983 году. Имеет опыт работы более тридцати лет. Неоднократно становился призером конкурсов массажистов.<br><br>

				Специализируется на следующих видах массажа: медицинский массаж; классический массаж; сегментарный массаж; детский массаж; массаж при заболеваниях позвоночника, опорно-двигательного аппарата, органов дыхания, органов пищеварения, заболеваниях периферической нервной системы; массаж в период реабилитации постинсультных пациентов.<br><br>

				Александр Анатольевич имеет большой опыт работы с детьми подросткового возраста и пожилыми людьми.<br><br>

				Только медицинский подход и гиперчувствительность на кончиках пальцев…
			</div>
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>