<div class="content-desc">
	<div class="content-title">Виктор Анатольевич Вихлянцев</div>
	<div class="content-caption">Кандидат медицинских наук, доцент, невролог, отличник здравоохранения России</div>
	<div class="content-text swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				Закончил Тюменский государственный медицинский институт в 1991 году. В 2005 году  Санкт-Петербургской государственной педиатрической медицинской академией присвоена ученая степень – кандидат медицинских наук. Проходил стажировку в Канаде.
				Имеет колоссальный опыт  врачебной практики, как  врача  невролога, так и организатора здравоохранения. Прошел обучение медицинскому массажу и мануальной терапии. Работал главным врачом и одновременно, практикующим врачом неврологом. Имеет двадцатипятилетний опыт врачебной практики	
				<br><br>
				Закончил Тюменский государственный медицинский институт в 1991 году. В 2005 году  Санкт-Петербургской государственной педиатрической медицинской академией присвоена ученая степень – кандидат медицинских наук. Проходил стажировку в Канаде.
				Имеет колоссальный опыт  врачебной практики, как  врача  невролога, так и организатора здравоохранения. Прошел обучение медицинскому массажу и мануальной терапии. Работал главным врачом и одновременно, практикующим врачом неврологом. Имеет двадцатипятилетний опыт врачебной практики						
			</div>
		</div>
		 <div class="swiper-scrollbar"></div>
	</div>
</div>