<div class="horizontal-slider">
	<span class="route-left">@@include('route-left.html')</span>
	<span class="route-right">@@include('route-right.html')</span>
		<div class="horizontal-slider-wrapper owl-carousel">
			@@include('horizontal-slider-item.html', {
				"title": "Виктор Анатольевич Вихлянцев",
				"caption": "Кандидат медицинских наук, доцент, невролог"
			})
			@@include('horizontal-slider-item.html', {
				"title": "Головачева Виктория Александровна",
				"caption": "Массажист"
			})	
			@@include('horizontal-slider-item.html', {
				"title": "Шакина Лариса Ивановна",
				"caption": "Массажист"
			})
			@@include('horizontal-slider-item.html', {
				"title": "Михаил Сергеевич Грибанов",
				"caption": "Массажист"
			})
			@@include('horizontal-slider-item.html', {
				"title": "Александр Иванович Лопарев",
				"caption": "Массажист"
			})	
			@@include('horizontal-slider-item.html', {
				"title": "Александр Анатольевич Шелудков",
				"caption": "Массажист"
			})	
			@@include('horizontal-slider-item.html', {
				"title": "Светлана Михайловна Баталова",
				"caption": "Массажист"
			})			
		</div>										
</div>

