<div class="vertical-slider">
	<span class="route-up">@@include('route-up.html')</span>
	<span class="route-down">@@include('route-down.html')</span>
	<div class="swiper-container">
		<div class="vertical-slider-wrapper swiper-wrapper">
			@@include('vertical-slider-item.html', {
				"title": "Виктор Анатольевич Вихлянцев",
				"caption": "Кандидат медицинских наук, доцент, невролог"
			})
			@@include('vertical-slider-item.html', {
				"title": "Головачева Виктория Александровна",
				"caption": "Массажист"
			})	
			@@include('vertical-slider-item.html', {
				"title": "Шакина Лариса Ивановна",
				"caption": "Массажист"
			})
			@@include('vertical-slider-item.html', {
				"title": "Михаил Сергеевич Грибанов",
				"caption": "Массажист"
			})
			@@include('vertical-slider-item.html', {
				"title": "Александр Иванович Лопарев",
				"caption": "Массажист"
			})	
			@@include('vertical-slider-item.html', {
				"title": "Александр Анатольевич Шелудков",
				"caption": "Массажист"
			})	
			@@include('vertical-slider-item.html', {
				"title": "Светлана Михайловна Баталова",
				"caption": "Массажист"
			})			
		</div>										
	</div>
</div>

