$inpuTBorderModal: #3fb61e;
$colorInputTileModal: #2e2e2e;
$colorFormTitleModal: #2e2e2e;
$bgCheckPoliticaModal: #3fb61e;
$colorPoliticaModal: #2b2b2b;
$colorPoliticaAModal: #64a02f;
$bgContactsModal: #f3f4f9;
$colorErrorModal: red;
$colorSuccessModal: green;

$bgErrorInput: rgba(255, 0, 0, 0.12);

.modal-default {
	z-index: 10000;
}
.modal {
	background-color: rgba(0, 0, 0, 0.62);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.widget_container {
		display: flex;
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}

	.widget_wrapper {
		position: relative;
		margin: auto;
		background-color: #FFF;
		width: 100%;
		max-width: 350px;
		padding: 30px;
		@include radius(12px);		
	}

	.modal-close {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;

		i {
			font-size: 20px;
			color: #3fb61e;
		}
	}

	.modal-close:hover {
		i {
			transition: 0.4s;
			color: #45e319;
		}
	}

	.images {
		text-align: justify;

		.img-1 {
			display: block;
			margin: auto;
		}

		.img-2 {
			display: inline-block;
			max-width: 240px;
		}

		.img-3 {
			display: inline-block;
			max-width: 160px;
		}

		.img-4 {
			display: inline-block;
			max-width: 112px;
		}
	}

	.images:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	form {
		max-width: 288px;
		margin: auto;
	}

	.form-title {
		margin-bottom: 30px;
		font-family: $ProximaSemibold;
		font-size: 16px;
		line-height: 16px;
		color: #2e2e2e;
	}

	.form-title.cent {
		text-align: center;
	}

	.inputs {
		text-align: justify
	}

	.inputs:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	.input {
		display: inline-block;
		vertical-align: top;
		width: 100%;

		input[type="text"] {
			min-height: 40px;
			padding-left: 10px;
		}

		textarea {
			resize: none;
			min-height: 75px;
			padding: 10px;
		}

		input[type="text"], textarea {
			outline: 0;	
			display: inline-block;
			width: 100%;	
			border: 2px solid $inpuTBorderModal;	
			font-family: $OpenSans;	
			font-size: 14px;
			color: #6aa634;
			@include radius(12px);
		}

		input[type="text"].error, textarea.error {
			background-color: $bgErrorInput;
			transition: 0.4s;
		}
	}
	.selection {
		border: 2px solid $inpuTBorderModal;	
		@include radius(12px);			
		padding: 10px 12px;
		display: inline-block;
		width: 100%;
		.separator, .item-separator {
			float: right;
		}	

		.item-separator {
			opacity: 0;
		}

		.name, .item-title {
			display: inline-block;
		}

		i {
			color: $inpuTBorderModal;
		}

		.item {
			padding: 7px 0;
			cursor: pointer;
		}

		.item:hover {
			transition: 0.4s;
			opacity: 0.7;

			.item-separator {
				transition: 0.4s;
				opacity: 1;
			}
		}

		.item:not(:last-child) {
			border-bottom: 1px solid $inpuTBorderModal;
		}

		.options {
			display: none;
		}
	}
	.input-1 {
		padding-bottom: 10px;
	}

	.input-0 {
		height: auto;
		padding-bottom: 15px;
	}

	.input-2 {
		max-width: 240px;
		height: 98px;
	}

	.input-3 {
		height: 98px;
		max-width: 150px;
	}

	.input-title {
		padding-left: 15px;
		font-family: $Proxima;
		color: $colorInputTileModal;
		font-size: 14px;
	}

	//> MESSAGE SEND
	.msg {

	}

	.msg.success {
		color: $colorSuccessModal;
	}

	.msg.error {
		color: $colorErrorModal;
	}
	//< MESSAGE SEND

	.politica {
		cursor: pointer;

		.check {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 16px;
			height: 16px;
			border: 2px solid $bgCheckPoliticaModal;
			svg {
				position: absolute;
				left: 0;
				right: 0;
				top: 1px;
				max-width: 10px;
				max-height: 10px;
				margin: auto;
				transition: 0.4s;

				.svg-check {
					fill: $bgCheckPoliticaModal;
				}
			}
		}

		.check[check="true"] svg {
			transform: rotate(0deg) scale(1);
			opacity: 1;
		}

		.check[check=""] svg,
		.check[check="false"] svg {
			transform: rotate(50deg) scale(1.8);
			opacity: 0;			
		}

		.check.warning {
			transition: 0.4s;
			border-color: red;
		}
		
		.caption {
			display: inline-block;
			vertical-align: top;
			margin-left: 15px;
			font-family: $OpenSansItalic;
			font-size: 11px;
			color: $colorPoliticaModal;
			font-weight: bold;
			width: 80%;
			line-height: 13px;
			a {
				color: $colorPoliticaAModal;
				text-decoration: underline;
			}
		}
	}

	[class*="btn_"] {
		margin-top: 22px;
	}	
}

.modal-data {
	.widget_wrapper {
		max-width: 700px;
		@include radius(15px);
	}
	.content-title {
		font-family: $ProximaBold;
		font-size: 21px;
		color: #181818;
		text-transform: uppercase;
		margin-top: 30px;
	}

	.content-text {
		font-family: $Proxima;
		font-size: 14px;
		color: #181818;
		margin-top: 18px;

		.caption {
			font-style: italic;
		}
	}
}

@media screen and (max-width: 660px) and (min-width: 320px) {
	.modal {
		.input-2 {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 524px) and (min-width: 320px) {
	.modal {
		.widget_wrapper {
			padding: 15px;
			padding-top: 35px;
		}

		.form-title {
			font-size: 16px;
			font-family: $OpenSans;
			line-height: 18px;
		}		

		.input-2,
		.input-3 {
			max-width: 100%;
		}

		.politica {
			.caption {
				margin-left: 5px;
				width: 85%;
			}
		}

		.input {
			input[type="text"], textarea {
				font-size: 18px;
			}
		}	

		.form-send {
			text-align: center;
		}	
	}
}

