$colorBunner3Title: #1e1e1e;
$colorBunner3Desc: #1e1e1e;
.bunner-3 {
	height: 430px;
	background-color: #FFF;
	.desctop-bunner-bg { 
		position: absolute;
		left: -189px;
		bottom: 0;

		img {
			max-width: none;
		}
	}

	.mobile-bunner-bg {
		vertical-align: top;
		display: none;
		overflow: hidden;
		text-align: center;
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 20px;
	}

	.bunner-content {
		position: relative;
		height: 430px;
	}

	.right-content {
		float: right;
		width: 43%;
		margin-top: 80px;
	}

	.bunner-title {
		font-family: $ProximaBold;
		color: $colorBunner3Title;
		font-size: 36px;
		line-height: 40px;

		.caption {
			color: #3fb61e;
		}

		.line {
			width: 85px;
			height: 3px;
			margin-top: 38px;
			background-color: #3fb61e;
		}
	}

	.bunner-desc {
		margin-top: 25px;
		font-family: $Proxima;
		color: $colorBunner3Desc;
		font-size: 18px;
		line-height: 22px;
	}
	
	[class^="btn_"] {
		margin-top: 22px;
	}

}

@media screen and (max-width: 960px) and (min-width: 320px) {
	.bunner-3 {
		.right-content {
			width: 100%;
		}
	}
}


@media screen and (max-width: 960px) and (min-width: 524px) {
	.bunner-3 {
		height: auto;
		padding-bottom: 20px;

		.desctop-bunner-bg {
			position: static;

			img {
				max-width: 100%;
			}
		}
	}
}


@media screen and (max-width: 748px) and (min-width: 524px) {
	.bunner-3 {
		.bunner-title {
			font-size: 25px;
			line-height: 28px;
		}
	}
}

@media screen and (max-width: 524px) and (min-width: 320px) {
	.bunner-3 {
		height: auto;
		background-image: none;

		.mobile-bunner-bg {
			display: inline-block;
		}
		.desctop-bunner-bg {
			display: none;
		}

		.bunner-content {
			height: auto;
		}

		.bunner-title {
			font-family: $ProximaBold;
			text-align: center;
			font-size: 24px;
			line-height: 25px;
			color: #28333d;
			text-align: left;

			.line {
				margin-top: 10px;
			}
		}

		.bunner-desc {
			font-family: $Proxima;
			text-align: left;
			font-size: 14px;
			color: #28333d;
			margin-top: 10px;
		}
		
		.btn-container {
			text-align: center;
		}

		.right-content {
			margin-top: 20px;
		}

		.btn-container {
			text-align: left;
		}
	}
}