<div class="item">
	<div class="item-number">@@number</div>
	<div class="item-wrapper">
		<div class="item-title">@@title</div>
		<div class="item-next">
			<a href="#">Подробнее >></a>
		</div>
	</div>

	<div class="modal-content">
		<div class="content-title">@@modal-title</div>
		<div class="content-text">
			Беременность, роды и послеродовой период требуют от женского организма особой отдачи, отнимают много физических и душевных сил. Для их восстановления нужна не только особая забота со стороны близких, но и внимание специалистов. Если каждая молодая мама после родов обязательно посещает гинеколога, то далеко не каждой женщине приходит в голову записаться к массажисту. В послеродовом периоде массаж помогает улучшить общее самочувствие, ускорить восстановление мышечной ткани, предупредить послеродовую депрессию, ведь, как известно, в здоровом теле - здоровый дух.<br />
			Приступать к послеродовому восстановительному массажу можно не ранее, чем через 2—3 недели после родов.
			Под влиянием массажа повышается эластичность мышечных волокон, их сократительная функция. Массаж способствует повышению работоспособ¬ности мышц, лучше восстанавливается функция утомленных мышц. В послеродовом периоде массаж способствует восстановлению тонуса мышц передней брюшной стенки, а также расслаблению других групп мышц, снятию чувства усталости, очень знакомого молодой маме.<br />
			Под действием массажа улучшается кровоснабжение суставов, укрепляется сумочно-связочный аппарата. Этот эффект в послеродовом периоде имеет особое значение для  позвоночника. У женщины после родов позвоночник подвергается повышенной нагрузке, что явля¬ется причиной возникновения болей в спине. Массаж поможет вам справиться с этой проблемой.<br>
			Существенно и воздействие массажа на подкожно-жировой слой. Не секрет, что с проблемой лишнего веса сталкивается  много молодых мам. Массаж действует на жиро¬вую ткань опосредованно, через общее воздействие на обмен веществ. Повышая обменные процессы в организме, усиливая выведение жира, массаж способствует «сгоранию» жиров.<br>
			Благодаря массажу кожа становится более эластичной, упругой, гладкой, После родов это особенно актуально для области живота, бедер, ягодиц, так как кожа в этих местах подвергалась наибольшему растяжению во время беременности.<br><br>

			<span class="caption">Необходима консультация специалиста.
			Медицинский массажный кабинет «Добрые руки», г.Тюмень, ул.Широтная, д.167, тел. (3452)398-708.</span>
		</div>			
	</div>
</div>