.about-company-2 {
	height: 465px;
	background-color: #3fb61e;

	.left-content {
		float: left;
	}

	.about-bg {
		position: relative;
		height: 465px;
		img {
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: none;
			z-index: 1;
		}
	}
	.bg-mobile {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.right-content {
		position: relative;
		float: right;
		width: 470px;
		@include radius;
	}

	.radius-bg {
		position: absolute;
		right: -62px;
		width: 642px;
		height: 465px;
		overflow: hidden;

	}

	.radius-bg-wrapper {
		position: absolute;
		top: -88px;
		width: 642px;
		height: 642px;		
		background-color: #FFF;
		@include radius;		
	}
	.about-title {
		font-family: $ProximaBold;
		font-size: 36px;
		color: #181818;
		margin-top: 85px;
	}

	.about-desc {
		font-family: $Proxima;
		font-size: 14px;
		color: #181818;	
		line-height: 18px;	
		margin-top: 10px;
	}

	.right-content-wrapper {
		position: relative;
		z-index: 1;
		max-width: 355px;
		margin: auto;
	}

	[class*="btn_"] {
		margin-top: 28px;
	}
}


@media screen and(max-width: 960px) and (min-width: 320px) {
	.about-company-2 {
		.right-content {
			width: 100%;
		}
	}
}


@media screen and(max-width: 960px) and (min-width: 740px) {
	.about-company-2 {
		.left-content {
			display: none;
		}

		.radius-bg {
			left: 0;
			right: 0;
			margin: auto;
		}
	}
}

@media screen and(max-width: 740px) and (min-width: 545px) {
	.about-company-2 {
		.about-bg {
			position: static;
			img {
				left: auto;
				right: 0;
				max-width: 310px;
			}
		}
	}
}

@media screen and(max-width: 740px) and (min-width: 320px) {
	.about-company-2 {
		overflow: hidden;
		position: relative;
		height: 518px;

		.about-title {
			font-size: 24px;
			margin-top: 0;
		}

		.content-about {
			float: left;
			max-width: 294px;
		}

		.radius-bg {
		    right: 0;
		    overflow: inherit;
		    left: -323px;
		    top: -135px;
		}

		.radius-bg-wrapper {
			background-color: #f3f3f3;
		}
	}
}

@media screen and(max-width: 545px) and (min-width: 320px) {
	.about-company-2 {
		.left-content {
			display: none;
		}

		.bg-mobile {
			display: block;
		}

		.radius-bg-wrapper {
			top: -103px;
		}
	}
}