$OpenSans: 'OpenSans';
$OpenSansItalic: 'OpenSans-Italic';
$OpenSansBold: 'OpenSans-Bold';
$OpenSansSemibold: 'OpenSans-Semibold';
$ProximaSemibold: 'ProximaNova-Semibold';
$ProximaBold: 'ProximaNovaBold';
$Proxima: 'ProximaNovaRegular';
$ProximaSemiboldItalic: 'ProximaNovaSemiboldItalic';
$GilroyBold: 'Gilroy-Bold';
$PlayFairReg: 'PlayfairDisplay-Regular';


@include fonts($OpenSans, 'open-sans/');
@include fonts($OpenSansItalic, 'open-sans/');
@include fonts($OpenSansBold, 'open-sans/');
@include fonts($OpenSansSemibold, 'open-sans/');

@include fonts($ProximaSemiboldItalic, 'proxima/');
@include fonts($ProximaSemibold, 'proxima/');
@include fonts($ProximaBold, 'proxima/');
@include fonts($Proxima, 'proxima/');

@include fonts($GilroyBold, 'gilroy/');

//@include fonts($PlayFairReg, 'playfair/');