@@include('header.html', {
	"title": "Массажный салон \"Добрые Руки\" Лечебный массаж в Тюмени",
	"desc": "Медицинский массаж в Тюмени. В наши услуги входит: лечебный, классический, детский, антицеллюлитный, спортивный, косметический массаж, выезд на дом и многое другое.",
	"h1": "Лечебный массаж \"Добрые Руки\" в Тюмени",
	"css": [
		"template"
	]
})	

@@include('site/modules/header-nav/module.html')
<div class="modules">
	@@include('site/modules/header-bunner/module.html')
	@@include('site/modules/number-items-2/module.html')
	@@include('site/modules/about-company-2/module.html')
	@@include('site/modules/advantages-module-3/module.html')
	@@include('site/modules/information-slider/module.html')
	@@include('site/modules/information-2/module.html')	
	@@include('site/modules/gallery-1/module.html')	
	@@include('site/modules/bunner-3/module.html')
	@@include('site/modules/content-1/module.html')
	@@include('site/modules/contacts-3/module.html')
	@@include('site/modules/information-3/module.html')
	@@include('site/modules/number-items-3/module.html')
	@@include('site/modules/comments-1/module.html')
	@@include('site/modules/module-contacts-2/module.html')
	@@include('site/modules/map-1/module.html')

	<!-- OVERALL -->
	@@include('site/widgets/modal/widget.html')
	<!-- OVERALL -->
</div>

<footer>
@@include('site/modules/footer-1/module.html')	
</footer>


@@include('footer.html', {
	"js": [
		"template"
	]
})
